{% extends 'layout.html' %}

{% block head %}
<!--导入echarts和水球图-->
<script src="https://cdn.bootcss.com/echarts/4.2.0-rc.2/echarts-en.common.min.js"></script>
<script src="{{ static_url('echarts-liquidfill/echarts-liquidfill.js') }}"></script>
{% end %}

{% block content %}
<!--内容部分-->
<div class="row">
    <div class="col-md-12">
        <div class="card text-white bg-dark mb-3">
            <!--CPU信息-->
            <div class="card-header">CPU信息</div>
            <div class="card-body">
                <div class="row">
                    <!--栅格系统-->
                    <div class="col-md-6 pad-right">
                        <div class="border border-white">{% raw data['cpu_liquid'] %}</div>
                    </div>
                    <div class="col-md-6 pad-left">
                        <table class="table table-sm table-bordered">
                            <thead>
                            <th class="text-center">
                                所有CPU使用率
                            </th>
                            <th>使用率</th>
                            </thead>
                            <tbody id="tb_cpu_per">
                            {% for k,v in enumerate(data['cpu_info']['percent_per']) %}
                            <tr>
                                <td class="text-primary" style="width: 30%">
                                    CPU{{ k }}
                                </td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar {{ handler.progress_status(v)}}"
                                             role="progressbar" style="width: {{ v }}%"
                                             aria-valuenow="{{ v }}" aria-valuemin="0" aria-valuemax="100">{{ v }}%
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% end %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}