{% extends 'layout.html' %}

{% block head %}
<!--导入echarts和水球图-->
<script src="{{ static_url('echarts-liquidfill/echarts-liquidfill.js') }}"></script>
{% end %}

{% block content %}
<!--内容部分-->
<div class="row">
    <!--CPU信息-->
    <div class="col-md-12">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">CPU信息</div>
            <div class="card-body">
                <div class="row">
                    <!--栅格系统-->
                    <!--cpu信息水球图-->
                    <div class="col-md-6 pad-right">
                        <div class="border border-white">{% raw data['cpu_liquid'] %}</div>
                    </div>
                    <!--单个CPU信息表-->
                    <div class="col-md-6 pad-left">
                        <div class="border border-white">
                            <table class="table table-sm table-bordered table-hover">
                                <thead>
                                <th class="text-center">
                                    所有CPU使用率
                                </th>
                                <th>使用率</th>
                                </thead>
                                <tbody id="tb_cpu_per">
                                {% for k,v in enumerate(data['cpu_info']['percent_per']) %}
                                <tr>
                                    <td class="text-primary" style="width: 30%">
                                        CPU{{ k }}
                                    </td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar {{ handler.progress_status(v)}}"
                                                 role="progressbar" style="width: {{ v }}%"
                                                 aria-valuenow="{{ v }}" aria-valuemin="0" aria-valuemax="100">{{ v }}%
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% end %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--内存和交换分区-->
    <div class="col-md-12">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">内存/交换分区信息</div>
            <div class="card-body">
                <div class="row">
                    <!--内存仪信息-->
                    <div class="col-md-6 pad-right">
                        <!--内存信息仪表盘-->
                        <div class="border border-white">{% raw data['mem_gauge'] %}</div>
                        <!--内存信息表格-->
                        <table class="table table-sm table-bordered table-hover">
                            <tr>
                                <td class="text-primary" style="width: 30%">使用率（%）</td>
                                <td id="mem_percent" class="text-danger">{{ data['mem_info']['percent'] }}</td>
                            </tr>
                            <tr>
                                <td class="text-primary" style="width: 30%">总量（GB）</td>
                                <td id="mem_total" class="text-danger">{{ data['mem_info']['total'] }}</td>
                            </tr>
                            <tr>
                                <td class="text-primary" style="width: 30%">使用量（GB）</td>
                                <td id="mem_used" class="text-danger">{{ data['mem_info']['used'] }}</td>
                            </tr>
                            <tr>
                                <td class="text-primary" style="width: 30%">剩余量（GB）</td>
                                <td id="mem_free" class="text-danger">{{ data['mem_info']['free'] }}</td>
                            </tr>
                        </table>
                    </div>
                    <!--交换分区仪表板-->
                    <div class="col-md-6 pad-left">
                        <!--换分信息仪表盘-->
                        <div class="border border-white">{% raw data['swap_gauge'] %}</div>
                        <!--换分信息表格-->
                        <table class="table table-sm table-bordered table-hover">
                            <tr>
                                <td class="text-primary" style="width: 30%">使用率（%）</td>
                                <td id="swap_percent" class="text-danger">{{ data['swap_info']['percent'] }}</td>
                            </tr>
                            <tr>
                                <td class="text-primary" style="width: 30%">总量（GB）</td>
                                <td id="swap_total" class="text-danger">{{ data['swap_info']['total'] }}</td>
                            </tr>
                            <tr>
                                <td class="text-primary" style="width: 30%">使用量（GB）</td>
                                <td id="swap_used" class="text-danger">{{ data['swap_info']['used'] }}</td>
                            </tr>
                            <tr>
                                <td class="text-primary" style="width: 30%">剩余量（GB）</td>
                                <td id="swap_free" class="text-danger">{{ data['swap_info']['free'] }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--网络信息-->
    <div class="col-md-12">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">网络信息</div>
            <div class="card-body">
                <div class="row">
                    {% for pie in data['net_pie'] %}
                    <div class="col-md-12">
                        <div class="border border-white">{% raw pie %}</div>
                    </div>
                    {% end %}

                    <div class="col-md-12">
                        <!--网络信息表-->
                        <table class="table table-sm table-bordered table-hover">
                            <thead>
                            <tr class="text-primary">
                                <td>网卡名称</td>
                                <td>发送字节</td>
                                <td>接收字节</td>
                                <td>发送包数</td>
                                <td>接受包数</td>
                                <td>协议地址族</td>
                                <td>IP地址</td>
                                <td>子网掩码</td>
                                <td>广播地址</td>
                            </tr>
                            </thead>
                            <tbody id="net_info_tb">
                            {% for net in data['net_info'] %}
                            <tr>
                                <td>{{ net['name'] }}</td>
                                <td class="text-danger">{{ net['bytes_sent'] }}</td>
                                <td class="text-danger">{{ net['bytes_recv'] }}</td>
                                <td class="text-danger">{{ net['packets_sent'] }}</td>
                                <td class="text-danger">{{ net['packets_recv'] }}</td>
                                <td>{{ net['family'] }}</td>
                                <td>{{ net['address'] }}</td>
                                <td>{{ net['netmask'] }}</td>
                                <td>
                                    {% if net['broadcast'] %}
                                    {{ net['broadcast'] }}
                                    {% else %}
                                    无
                                    {% end %}
                                </td>
                            </tr>
                            {% end %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--磁盘信息-->
    <div class="col-md-12">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">磁盘信息</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-sm table-bordered table-hover">
                            <thead>
                            <tr class="text-primary">
                                <td style="width: 10%">设备名称</td>
                                <td style="width: 10%">挂载点</td>
                                <td style="width: 10%">文件系统类型</td>
                                <td style="width: 10%">操作选项</td>
                                <td style="width: 10%">总量（GB）</td>
                                <td style="width: 10%">使用量（GB）</td>
                                <td style="width: 10%">剩余量（GB）</td>
                                <td style="width: 30%">使用率（%）</td>
                            </tr>
                            </thead>
                            <tbody id="disk_info_tb">
                            {% for disk in data['disk_info']%}
                            <tr>
                                <td>{{ disk['device'] }}</td>
                                <td>{{ disk['mountpoint'] }}</td>
                                <td>{{ disk['fstype'] }}</td>
                                <td>{{ disk['opts'] }}</td>
                                <td>{{ disk['used']['total'] }}</td>
                                <td>{{ disk['used']['used'] }}</td>
                                <td>{{ disk['used']['free'] }}</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar {{ handler.progress_status(disk['used']['percent'])}}"
                                             role="progressbar" style="width: {{ disk['used']['percent'] }}%"
                                             aria-valuenow="{{ disk['used']['percent'] }}" aria-valuemin="0"
                                             aria-valuemax="100">{{ disk['used']['percent'] }}%
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% end %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}